<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StageStory</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/StageStory.styles.css" asp-append-version="true" /> 
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />


</head>
<body>
    <header>
        <h1 class="text-red-500 text-3xl">Test Tailwind</h1>
        <div class="bg-green-500 p-10 text-white">TEST TAILWIND BACKGROUND</div>
        <p class="text-6xl">TAILWIND TEXT XXL</p>
        <div class="mt-20 bg-gray-200">TEST MARGIN</div>



    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow-sm rounded-lg border-0">
                        <img src="https://via.placeholder.com/600x200" class="card-img-top" alt="Image Card">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Titre de la Card</h5>
                            <p class="card-text text-muted">
                                Ceci est un exemple de card avec un design moderne. Vous pouvez ajouter ici une description ou un contenu supplémentaire.
                            </p>
                            <a href="#" class="btn btn-primary">Action</a>
                            <a href="#" class="btn btn-outline-secondary">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - StageStory - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
